In [108]:
import pandas as pd
# To do
# salary parsing
# company name text only
# city field
# age of company
# parsing of job description

In [38]:
df = pd.read_csv("glassdoor_jobs.csv")

In [3]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of nership,Industry,Sector,Revenue,Competitors
0,Data Scientist,Employer Provided Salary:$70K-$120K,BestReviews.com is the ultimate product recomm...,5.0,BestReviews\n5.0,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2014,Company - Private,Publishing,Media,Unknown / Non-Applicable,-1
1,Data Scientist,$88K-$122K (Glassdoor est.),We are passionate about solving real world pro...,4.5,Virtual Power Systems\n4.5,"Milpitas, CA","Milpitas, CA",1 to 50 employees,2013,Company - Private,Enterprise Software & Network Solutions,Information Technology,Less than $1 million (USD),-1
2,Data Scientist,-1,About Stanza\n\nHundreds of millions of pagevi...,3.2,Stanza\n3.2,"San Francisco, CA","San Francisco, CA",1 to 50 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
3,Data Scientist,-1,Affinity is on a mission to help everyone in t...,5.0,Affinity\n5.0,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2015,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
4,Data Scientist,$139K-$186K (Glassdoor est.),"Software Engineer, Data Science (Optimization)...",3.3,Marin Software\n3.3,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2006,Company - Public,Computer Hardware & Software,Information Technology,$50 to $100 million (USD),-1

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 14 columns):
Job Title          350 non-null object
Salary Estimate    350 non-null object
Job Description    350 non-null object
Rating             350 non-null float64
Company Name       350 non-null object
Location           350 non-null object
Headquarters       350 non-null object
Size               350 non-null object
Founded            350 non-null int64
Type of nership    350 non-null object
Industry           350 non-null object
Sector             350 non-null object
Revenue            350 non-null object
Competitors        350 non-null object
dtypes: float64(1), int64(1), object(12)
memory usage: 38.4+ KB

## Salary Parsing

In [ ]:
# find any per hour wages
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

# find employer provided salary data points
df['Employer Provided Salary'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer' in x.lower() else 0)

In [ ]:
#remove -1 on salary
df = df[df['Salary Estimate'] != '-1']

In [43]:
# remove text from salary data
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [88]:
# replace dollar sign and minus with blank space
minus_kd = salary.apply(lambda x: x.replace('$', '').replace('K',' ').replace(":",''))

In [89]:
min_hr = minus_kd.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary', ''))

In [90]:
min_hr

0        70 -120
1       88 -122
4      139 -186
5      112 -155
6      151 -203
          ...
336     92 -153
339    118 -124
340    121 -170
342     73 -114
346    125 -193
Name: Salary Estimate, Length: 202, dtype: object

In [98]:
df['min salary'] = min_hr.apply(lambda x: x.split("-")[0])
df['min salary'].astype(int)

0       70
1       88
4      139
5      112
6      151
      ...
336     92
339    118
340    121
342     73
346    125
Name: min salary, Length: 202, dtype: int64

In [100]:
df['max salary'] = min_hr.apply(lambda x: x.split("-")[1])
df['max salary'].astype(int)

0      120
1      122
4      186
5      155
6      203
      ...
336    153
339    124
340    170
342    114
346    193
Name: max salary, Length: 202, dtype: int64

In [103]:
df['avg salary'] = (df['max salary'].astype(int) + df['min salary'].astype(int))/2

In [104]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of nership,Industry,Sector,Revenue,Competitors,hourly,Employer Provided Salary,min salary,max salary,avg salary
0,Data Scientist,Employer Provided Salary:$70K-$120K,BestReviews.com is the ultimate product recomm...,5.0,BestReviews\n5.0,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2014,Company - Private,Publishing,Media,Unknown / Non-Applicable,-1,0,1,70,120,95.0
1,Data Scientist,$88K-$122K (Glassdoor est.),We are passionate about solving real world pro...,4.5,Virtual Power Systems\n4.5,"Milpitas, CA","Milpitas, CA",1 to 50 employees,2013,Company - Private,Enterprise Software & Network Solutions,Information Technology,Less than $1 million (USD),-1,0,0,88,122,105.0
4,Data Scientist,$139K-$186K (Glassdoor est.),"Software Engineer, Data Science (Optimization)...",3.3,Marin Software\n3.3,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2006,Company - Public,Computer Hardware & Software,Information Technology,$50 to $100 million (USD),-1,0,0,139,186,162.5
5,Data Scientist - Business Analytics,$112K-$155K (Glassdoor est.),About Quora:\n\n\nThe vast majority of human k...,4.7,Quora\n4.7,"Mountain View, CA","Mountain View, CA",201 to 500 employees,2009,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,0,0,112,155,133.5
6,"Data Scientist, People Analytics",$151K-$203K (Glassdoor est.),The Position\n\n\nThe People Analytics team at...,3.9,Genentech\n3.9,"South San Francisco, CA","South San Francisco, CA",10000+ employees,1976,Subsidiary or Business Segment,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,0,0,151,203,177.0

## Get Company Name and City Locations

In [116]:
df['company name text'] = df['Company Name'].apply(lambda x: x.split('\n')[0])

In [118]:
df['job city location'] = df['Location'].apply(lambda x: x.split(',')[0])

In [120]:
df['job city location'].value_counts()

San Francisco          111
Santa Clara             13
Palo Alto               10
San Jose                 8
Sunnyvale                8
Redwood City             7
Mountain View            7
Menlo Park               6
Oakland                  5
South San Francisco      4
Sacramento               4
San Mateo                4
Roseville                3
San Ramon                2
Emeryville               2
Rocklin                  1
Livermore                1
Concord                  1
Monterey                 1
Fremont                  1
Milpitas                 1
Pleasanton               1
Cupertino                1
Name: job city location, dtype: int64

## Is the job at the headquarter location?

In [121]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of nership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'Employer Provided Salary', 'min salary', 'max salary',
       'avg salary', 'Company Name Text', 'company name text',
       'job city location'],
      dtype='object')

In [122]:
df['same_city'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis =1)

In [125]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of nership,...,Competitors,hourly,Employer Provided Salary,min salary,max salary,avg salary,Company Name Text,company name text,job city location,same_city
0,Data Scientist,Employer Provided Salary:$70K-$120K,BestReviews.com is the ultimate product recomm...,5.0,BestReviews\n5.0,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2014,Company - Private,...,-1,0,1,70,120,95.0,BestReviews,BestReviews,San Francisco,1
1,Data Scientist,$88K-$122K (Glassdoor est.),We are passionate about solving real world pro...,4.5,Virtual Power Systems\n4.5,"Milpitas, CA","Milpitas, CA",1 to 50 employees,2013,Company - Private,...,-1,0,0,88,122,105.0,Virtual Power Systems,Virtual Power Systems,Milpitas,1
4,Data Scientist,$139K-$186K (Glassdoor est.),"Software Engineer, Data Science (Optimization)...",3.3,Marin Software\n3.3,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2006,Company - Public,...,-1,0,0,139,186,162.5,Marin Software,Marin Software,San Francisco,1
5,Data Scientist - Business Analytics,$112K-$155K (Glassdoor est.),About Quora:\n\n\nThe vast majority of human k...,4.7,Quora\n4.7,"Mountain View, CA","Mountain View, CA",201 to 500 employees,2009,Company - Private,...,-1,0,0,112,155,133.5,Quora,Quora,Mountain View,1
6,"Data Scientist, People Analytics",$151K-$203K (Glassdoor est.),The Position\n\n\nThe People Analytics team at...,3.9,Genentech\n3.9,"South San Francisco, CA","South San Francisco, CA",10000+ employees,1976,Subsidiary or Business Segment,...,-1,0,0,151,203,177.0,Genentech,Genentech,South San Francisco,1

## Get Age of Company

In [126]:
df['age'] = df.Founded.apply(lambda x: x if x < 1 else 2021 - x)

In [127]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of nership,...,hourly,Employer Provided Salary,min salary,max salary,avg salary,Company Name Text,company name text,job city location,same_city,age
0,Data Scientist,Employer Provided Salary:$70K-$120K,BestReviews.com is the ultimate product recomm...,5.0,BestReviews\n5.0,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2014,Company - Private,...,0,1,70,120,95.0,BestReviews,BestReviews,San Francisco,1,7
1,Data Scientist,$88K-$122K (Glassdoor est.),We are passionate about solving real world pro...,4.5,Virtual Power Systems\n4.5,"Milpitas, CA","Milpitas, CA",1 to 50 employees,2013,Company - Private,...,0,0,88,122,105.0,Virtual Power Systems,Virtual Power Systems,Milpitas,1,8
4,Data Scientist,$139K-$186K (Glassdoor est.),"Software Engineer, Data Science (Optimization)...",3.3,Marin Software\n3.3,"San Francisco, CA","San Francisco, CA",201 to 500 employees,2006,Company - Public,...,0,0,139,186,162.5,Marin Software,Marin Software,San Francisco,1,15
5,Data Scientist - Business Analytics,$112K-$155K (Glassdoor est.),About Quora:\n\n\nThe vast majority of human k...,4.7,Quora\n4.7,"Mountain View, CA","Mountain View, CA",201 to 500 employees,2009,Company - Private,...,0,0,112,155,133.5,Quora,Quora,Mountain View,1,12
6,"Data Scientist, People Analytics",$151K-$203K (Glassdoor est.),The Position\n\n\nThe People Analytics team at...,3.9,Genentech\n3.9,"South San Francisco, CA","South San Francisco, CA",10000+ employees,1976,Subsidiary or Business Segment,...,0,0,151,203,177.0,Genentech,Genentech,South San Francisco,1,45

## Parse Job Description

In [129]:
df['Job Description'][0]

'BestReviews.com is the ultimate product recommendation service for the modern shopping experience. We eliminate the need for consumers to spend hours determining the best product for their needs. We have partnerships that allow our content to be seen on top sites like those of the Chicago Tribune, New York Daily News and more.\nAs the only Data Scientist at BestReviews, you will lead our data infrastructure and projects. You will work alongside a multidisciplinary team, including product, content, creative, and engineering. Your work will have an immediate and direct impact on our site and our millions of users around the world. You will work directly with the Director of Product Management and founding team. You will be an integral part of identifying and implementing business growth efforts.\nWe want to better organize and get insights from our website and ecommerce data. With our recent growth, we are ready to invest in our data infrastructure, and we have a growing number of data needs.\nThis role is full-time based in San Francisco. Learn more about us here: http://bestreviews.com/about-us\nYour primary objective / responsibilities:\nOwn our data infrastructure and scale it to meet the company’s needs, including potentially setting up a data warehouse and/or BI tool\nCreate processes to support key metrics data and manage this data\nIdentify business growth opportunities, including the use of conversion signals from our website and marketing campaigns\nCollaborate with product, content, and business development teams to meet their data needs\nMake recommendations based on website A/B test results\nLead data privacy projects like CCPA\nQualifications / Requirements\n2-4 years of experience in a data scientist or data analyst role\nProficiency in MySQL\nExperience working with engineers\nExperience with machine learning is a plus\nProgramming experience is a plus\nE-Commerce experience is a plus\nBenefits of this job:\nWork directly with founding team in a flat, energetic, fast-moving organization\nWorking closely with the Director of Product Manager and Chief Content Officer\nCompetitive compensation / benefits / etc'

In [145]:
#python
df['python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0 )
#tableau
df['tableau'] = df['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
#aws
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
#spark
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
#hadoop
df['hadoop'] = df['Job Description'].apply(lambda x: 1 if 'hadoop' in x.lower() else 0)
#SQL
df['SQL'] = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
#BI
df['BI'] = df['Job Description'].apply(lambda x: 1 if 'bi' in x.lower() else 0)

In [146]:
df['python'].value_counts()

1    118
0     84
Name: python, dtype: int64

In [147]:
df['aws'].value_counts()

0    167
1     35
Name: aws, dtype: int64

In [148]:
df['spark'].value_counts()

0    161
1     41
Name: spark, dtype: int64

In [149]:
df['SQL'].value_counts()

1    137
0     65
Name: SQL, dtype: int64

In [150]:
df['BI'].value_counts()

1    195
0      7
Name: BI, dtype: int64

In [151]:
df['excel'].value_counts()

1    111
0     91
Name: excel, dtype: int64

In [153]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of nership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'Employer Provided Salary', 'min salary', 'max salary',
       'avg salary', 'Company Name Text', 'company name text',
       'job city location', 'same_city', 'age', 'python y/n', 'tableau y/n',
       'excel y/n', 'aws y/n', 'spark y/n', 'hadoop y/n', 'SQL y/n', 'BI y/n',
       'python', 'tableau', 'excel', 'aws', 'spark', 'hadoop', 'SQL', 'BI'],
      dtype='object')

In [162]:
df.to_csv('salary_data_cleaned.csv', index=False)